@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* 전역 폰트 설정 */
@layer base {
  html, body {
    font-family: Pretendard, 'Inter', sans-serif;
    @apply text-gray-900; /* 기본 글자색 설정 */
  }

  section {
    @apply w-full flex justify-center
  }

  main {
    @apply flex flex-col  items-center w-full pt-[3vh] pb-[3vh];
  }
}

@layer components {
  .input-primary {
    @apply w-full text-sm border-gray-500 focus-visible:ring-[#8b74ff] focus-visible:ring-1;
  }
}

@layer utilities {
  /* 전역 설정 */
  .bg-primary {
    @apply bg-[#8b74ff];
  }

  .bg-kakao {
    @apply bg-[#FEE500];
  }

  .bg-naver {
    @apply bg-[#03C75A]
  }

  .bg-google {
    @apply bg-auto border-1 border-gray-200
  }

  .bg-apple {
    @apply bg-[#000000]
  }

  .section-center-layout {
    @apply w-1/2 max-w-lg min-w-2xs mb-4;
  }

  .sns_btn_layout {
    @apply w-13 h-13 rounded-full;
  }

  .main-layout {

  }
}

:root {
  --sidebar: #fff;
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*@layer base {*/
/*  * {*/
/*    @apply border-border outline-ring/50;*/
/*  }*/
/*  body {*/
/*    @apply bg-background text-foreground;*/
/*  }*/
/*}*/
